/* debug */
/*
* {
  border: 1px solid lightsalmon;
}
*/

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

nav, .intro-content, .info-content {
    max-width: 1000px;
    margin: 50px auto;
}

/* navigation bar */
.nav-section {
    background-color: #1f2937;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    margin-right: auto;
}

.logo a {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

/* intro section */
.intro-section {
    background-color: #1f2937;
}

.intro-content {
    display: flex;
    gap: 30px;
}

.intro-left, .intro-right {
    flex: 1;  /* divides half-half */
}

.text-tagline {
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.text-description {
    font-size: 18px;
    color: #e5e7eb;
}

.button-signup {
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}

.image-placeholder {
    width: 100%;
    height: 100%;
    background-color: grey;
    color: #f9faf8;
    align-content: center;
    text-align: center;
}

/* info section */
.info-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info-header {
    margin: 0 auto;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.info-detail {
    width: 150px;
}

.info-box {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 3px #3882f6 solid;
}

.info-description {
    text-align: center;
    color: #1f2937;
}

/* quote section */
.quote-section {
    background-color: #e6e7eb;
}

.quote-content {
    /* aligns with info boxes from section above
     * 150px * 4 (content) + 50px * 3 (gap) + 3px * 8 (border) = 774px;
     */
    max-width: 774px;
    margin: 100px auto;
}

.the-quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-by {
    font-weight: bold;
    text-align: end;
}